@import url('https://fonts.googleapis.com/css2?family=Fondamento&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web&display=swap');
*
{
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'Titillium Web', sans-serif;
    /*font-family: 'Fondamento', cursive;*/
}
#loading
{
    position: fixed;
    width: 100%;
    height: 100vh; 
    z-index: 99999;
}
a{
    text-decoration: none;
}
.responsive {
    max-width: 100%;
    height: auto;
  }
  
/*header*/
.head {
    position: relative;
  }
.header
{
    color: black;
    border-radius: 10px;
    position: relative;
}
.head_wlcm
{
    margin-left: 100px;
}
.bg-image {
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
  }
.header_text
{ 
    color: whitesmoke;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    transition: .5s ease;
    background-color: rgba(0,0,0,0.7);
  }
 .head_ic
 {
     font-size: 40px;
 } 
 #head_ic1
 {
     color: lightcoral;
     float: left;
     margin-left: 20px;
     animation:mover1 10s infinite  alternate linear;
 }
 #head_ic2
 {
     color: lightgreen;
     margin-left: 120px;
     animation:mover2 10s infinite  alternate linear;
 }
 #head_ic3
 {
     color: lightpink;
     float: right;
     margin-right: 20px;
     animation:mover1 10s infinite  alternate linear;
 }
 #head_ic4
 {
     color: lightblue;
     float: right;
     margin-right: 120px;
     animation:mover2 10s infinite  alternate linear;
 }
 @keyframes mover1
 {
    0% { margin-top: 20px; transform: rotate(0deg);}
    100% { margin-top: 500px; transform: rotate(360deg); }
 }
 @keyframes mover2
 {
    0% { margin-top: 500px; transform: rotate(360deg); }
    100% { margin-top: 20px;  transform: rotate(0deg);}
 }
@media (max-width:992px)
{
    .header
    {   
        background-size:cover;
    }
    .header_text
    {
        padding: 0;
       font-size: 15px;
    } 
    .head_wlcm
    {
        margin-left: 40px;
    }
    .head_ic
    {
        font-size: 10px;
    } 
    #head_ic1
    {
        margin-left: 20px;
        animation:mover1 5s infinite  alternate linear;
    }
    #head_ic2
    {
        margin-left: 20px;
        animation:mover2 5s infinite  alternate linear;
    }
    #head_ic3
    {
        margin-right: 20px;
        animation:mover1 5s infinite  alternate linear;
    }
    #head_ic4
    {
        margin-right: 20px;
        animation:mover2 5s infinite  alternate linear;
    }
    @keyframes mover1
    {
       0% { margin-top: 10px;transform: rotate(0deg); }
       100% { margin-top: 150px;transform: rotate(360deg); }
    }
    @keyframes mover2
    {
       0% { margin-top: 150px; transform: rotate(360deg);}
       100% { margin-top: 10px;transform: rotate(0deg); }
    }
    .fa-instagram
    {
      margin-top: 35px!important;
      font-size: 60px!important;
    }
}

/* end header*/
/* Navbar */
nav
{
    background-color: white;
}
  .navbar-toggler.collapsed i
  {
    display: block;
    margin-top: 3px;
    transition: all 0.3s ease-in-out;
    transform: rotate(180deg);    
  }
  .navbar-toggler i{
    transition: all 0.3s ease-in-out;
    transform: rotate(0deg);
  }
  
.navbar-nav li a
{
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 5px;
  color: #000;
  position: relative;
}
.navbar-nav li a:before{
  content: '';
  position: absolute;
  top: 100%;
  bottom: 50%;
  width: 0%;
  height: 5%;
  background: #000;
  transition: all 0.1s linear;
}

.navbar-nav li a:hover:before
{
  width: 80%;
}
/* navbar button anime*/

@media (max-width:992px)
{
  .navbar-nav{
    text-align: center;
  }
  .navbar-nav li a:hover:before
  {
    width: 0%;
  }
  .navbar-brand img
  {
      width: 30%;
  }
  .navbar-toggler-icon
  {
      size: 10px;
  }
}
/* End Navbar */
/* Home */
.home_div
{
    margin-top: 80px;
    text-align: right;
    color: black;
    font-size: 30px;
    font-family: 'Gill Sans';
}
.brand_name
{
    font-family: 'Fondamento', cursive;
    color: darkcyan;
    animation:beat 0.5s alternate-reverse infinite linear;
}
@keyframes beat
{
    0% {
        color:darkcyan;
        font-weight: 100;
    }
    100% {
        color: lightgray;
        font-weight: 100;
         }
}
.home_btn
{
    text-decoration: none;
    margin-left: 15px;
    padding: 15px;
    background-color: white;
    border:1px solid darkcyan;
    border-radius: 50px;
    color: darkcyan;
    font-size: 20px;
}
.home_btn:hover
{
    color: white;
    background-color: darkcyan;
}
.c_heading
{
    font-size: 35px;
    text-align: center;
}
@media (max-width:992px)
{
    *
    {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    .home_img
    {
        margin-left: 25px;
        margin-top: 15px;
    }
    .home_div
    {
    margin-top: 0px;
    text-align: right;
    color: black;
    font-size: 25px;
    }
    .home_btn
    {
    
    margin-left: 1px;
    padding: 5px;
    background-color: white;
    border:1px solid darkcyan;
    border-radius: 50px;
    color: darkcyan;
    font-size: 15px;
    }
    .c_heading
    {
        margin-top: 15px;
        font-size: 25px;
    }
}
/* End home*/
/*curousel*/
.carousel-inner > .carousel-item
{
    height: 500px;
}
.c_link
{
    color:white;
    text-decoration: none;
}
.c_link:hover
{
    color: whitesmoke;
    text-decoration: none;
}
@media (max-width:992px)
{
    .carousel-inner > .carousel-item
    {
        height: auto;
    }
}
/* end curousel*/
/*Footer*/
.main_footer
{
    background-color: transparent;     
}
.main_text
{
    color: cornsilk;
    font-family: 'Courier New'; 
}
.main_text h4{
    font-size: 30px;
}
.useful_link
{
    text-decoration: none;
    color: black;
    letter-spacing: 2px;
}
.useful_link:hover{
    font-weight: bold;
    color: black;
}
.footer_img
{
    width: 70%;
}
@media (max-width:992px)
{
    .title_text
    {
        margin: 7px;
        padding: 0;
    }
    h6 .mb-4
    {
        margin-bottom: 0px;
    }
    .useful_link
    {
        margin: -15px;
    }
}
/*End Footer*/
.modal-content
{
    border: 0px;
    background: transparent;
}
.gallary
{
    margin-left: 10px;
}
.column {
    margin-top: 10px;
  }
  
  /* Clearfix (clear floats) */
  .row::after
{
    content: "";
    clear: both;
    display: table;
}
.p_image:hover
{
    animation: shake 0.5s;
    animation-iteration-count: infinite;
}
@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
  }
@media (max-width:992px)
{
    .modal-body img
    {
        width: 350px!important;
    }
} 
/*about*/
.about_text
{
    margin-top: 100px;
}
.about_quality
{
    margin-left: 40px;
    margin-top: 30px;
    font-size: 25px;
}
.qal_text
{
    margin-left: 10px;
    color: darkcyan;
}
.social_ic
{
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    font-size: 70px;
}
.progress
{
    margin-top: 10px;
    margin-bottom: 10px;
}
.skill_ps
{
    float: right;
}
@media (max-width:992px)
{
    .about_text
    {
        margin-top: 0px;
    }
    .about_quality
    {
        margin-left: 40px;
        margin-top: 20px;
        font-size: 20px;
    }
    .qal_text
    {
        margin-left: 10px;
        color: darkcyan;
        font-size: 15px;
    }
    .social_ic
    {
        margin-top: 10px;
        display: flex;
        justify-content: space-between;
        font-size: 50px;
    }
    .main_contact
    {
        margin-left: 35px;
    }
    .skill_img
    {
        width: 50%;
        margin-left: 20%;
    }
    .about_img
    {
        
        margin-top: -40px;
        margin-left: 20px;
    }
    .soc_text
    {
        font-size: 20px;
    }
    .progress
    {
        height: 10px;
    }
}
/*end-about*/

@media (max-width:380px)
{
    .header
    {   
        background-size:cover;
    }
    .header_text
    {
        padding: 0;
        font-size: 12px;
    } 
    .head_wlcm
    {
        margin-left: 30px;
    }
    .head_ic
    {
        font-size: 8px;
    } 
    #head_ic1
    {
        margin-left: 20px;
        animation:mover1 5s infinite  alternate linear;
    }
    #head_ic2
    {
        margin-left: 20px;
        animation:mover2 5s infinite  alternate linear;
    }
    #head_ic3
    {
        margin-right: 20px;
        animation:mover1 5s infinite  alternate linear;
    }
    #head_ic4
    {
        margin-right: 20px;
        animation:mover2 5s infinite  alternate linear;
    }
   @keyframes mover1
    {
       0% { margin-top: 10px;transform: rotate(0deg); }
       100% { margin-top: 125px;transform: rotate(360deg); }
    }
    @keyframes mover2
    {
       0% { margin-top: 125px; transform: rotate(360deg);}
       100% { margin-top: 10px;transform: rotate(0deg); }
    }
    .navbar-nav{
        text-align: center;
      }
      .navbar-nav li a:hover:before
      {
        width: 0%;
      }
      .navbar-brand
      {
        margin-right: -50px;
      }
      .navbar-brand img
      {
          width: 25%;
          
      }
      .navbar-toggler
      {
          margin-left: 0px;
      }
      .navbar-toggler-icon
      {
          size: 10px;
      }
      *
      {
          margin: 0;
          padding: 0;
          box-sizing: border-box;
      }
      .home_img
      {
          margin-left: 0px;
          margin-top: 15px;
      }
      .home_div
      {
        margin-left: 10px;
        margin-top: 0px;
        color: black;
        font-size: 12px;
      }
      .home_btn
      {
      margin-left: 0px;
      padding: 5px;
      background-color: white;
      border:1px solid darkcyan;
      border-radius: 50px;
      color: darkcyan;
      font-size: 10px;
      }
      .c_heading
      {
          margin-top: 15px;
          font-size: 20px;
      } 
      .carousel-inner > .carousel-item
    {
        height: auto;
    }
    .title_text
    {
        margin: 0px;
        padding: 0;
        font-size: 12px;
    }
    .product
    {
        font-size: 15px;
        margin-bottom: 0rem;
    };
    h6 .mb-4
    {
        margin-bottom: 0px;
    }
    .useful_link
    {
        font-size: 10px;
        word-spacing: 0px;
        margin-bottom: 0px;
    }
    .f_link p
    {
        margin-bottom: 0px;
    }
    footer span
    {
        font-size: 12px;
    }
    .footer-copyright{
        font-size: 13px;
    }
    .modal-body img
    {
        width: 300px!important;
    }
    .about_text
    {
        margin-top: 0px;
    }
    .about_quality
    {
        margin-left: 0px;
        margin-top: 10px;
        font-size: 15px;
    }
    .qal_text
    {
        margin-left: 5px;
        color: darkcyan;
        font-size: 15px;
    }
    .social_ic
    {
        margin-top: 10px;
        display: flex;
        justify-content: space-between;
        font-size: 50px;
    }
    .main_contact
    {
        margin-left: 25px;
    }
    .skill_img
    {
        width: 50%;
        margin-left: 20%;
    }
    .about_img
    {
        
        margin-top: -50px;
        margin-left: 20px;
    }
    .soc_text
    {
        font-size:18px;
    }
    .progress
    {
        height: 8px;
    }
    .brand_name
    {
        font-family: 'Fondamento', cursive;
        color: darkcyan;
        animation:beat 0.5s alternate-reverse infinite linear;
    }
      .fa-instagram
    {
      margin-top: 25px!important;
      font-size: 50px!important;
    }
}